$header-background: rgba(23, 53, 131, .75);
$hover-color: #54c2e3;
$card-name-color: #1b79b7;
$card-text-color: #333;
$primary-blue: #2A85BE;
$primary-darkblue: #163683;
$gray-color: #5e6367;
$bg-color-1: #4BACC6;
$bg-white: #fff;
$indicators-color: rgba(244, 244, 244, .5);